@model blues.Models.BusStop

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>BusStop</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Address)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Address)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.latitude)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.latitude)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.longitude)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.longitude)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.BusStopID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
